* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #d1c7c8;
}
.container {
  background-image: url(img/Bureau.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Montserrat";
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.container1 {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.container1 div {
  font-size: xx-large;
  font-weight: bolder;
  text-transform: uppercase;
  border: 1px solid #034846;
  border-radius: 10px;
  padding: 20px 40px;
  color: #ffffff;
  background-color: #034846;
}
.container2 {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.container2 table {
  border-collapse: collapse;
  width: 75%;
}
.container2 thead {
  background-color: #034846;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
}
.container2 thead th {
  border: 1px solid #000000;
  padding: 20px;
}
.container2 tbody {
  font-size: large;
}
.container2 tbody td {
  border: 1px solid #000000;
  padding: 20px;
}
.container2 tbody td:nth-of-type(1) {
  width: 5%;
}
.container2 tbody td:nth-of-type(2) {
  width: 70%;
}
.container2 tbody td:nth-of-type(3) {
  width: 25%;
}
.container2 tbody select {
  font-size: large;
}
.container2 tbody tr:nth-of-type(2n + 1) {
  background-color: #d8d5dc;
}
.container2 tbody tr:nth-of-type(2n) {
  background-color: #f2f1f6;
}
.container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
}
.container3 input {
  background-color: #034846;
  color: #ffffff;
  font-size: x-large;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
}
/*--------------------Responsive version tablette--------------------*/
@media screen and (max-width: 748px) and (min-width: 361px) {
  .container {
    width: 99%;
  }
  .container1 {
    margin: 20px;
  }
  .container1 div {
    font-size: x-large;
  }
  .container2 {
    margin: 20px;
  }
  .container2 table {
    width: 95%;
  }
  .container3 {
    margin: 20px;
    flex-direction: column;
  }
}
/*--------------------Responsive version téléphone--------------------*/
@media screen and (max-width: 360px) {
  .container {
    width: 99%;
  }
  .container1 {
    margin: 15px;
  }
  .container1 div {
    font-size: large;
  }
  .container2 {
    margin: 10px;
  }
  .container2 tbody {
    font-size: medium;
  }
  .container3 {
    flex-direction: column;
    margin: 10px;
  }
  .container3 input {
    font-size: medium;
  }
}
